<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.min.js" rel="script"></script>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js" rel="script"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            /* Set background image */
            background-image: url('https://wallpapertag.com/wallpaper/full/5/0/9/350850-website-background-1920x1234-for-android-50.jpg');
            background-size: cover; /* Cover the entire background */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-position: center; /* Center the image */
            /* You can also set a background color as a fallback */
            background-color: #f0f0f0; /* Fallback background color */
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index" th:text="#{data.navAcceuil}">Ecomm-App</a>
        <button
                data-mdb-collapse-init
                class="navbar-toggler btn btn-outline-info"
                type="button"
                data-mdb-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index" th:text="#{data.navAcceuil}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{data.ajoutPrdct}" data-bs-toggle="modal" data-bs-target="#addNewProduct">Add new product</a>
                </li>
                <li class="nav-item">
                    <select name="languages" id="language-select" onchange="handleLanguageChange()">
                        <option value="" th:text="#{data.choose}"></option>
                        <option value="en" th:text="#{data.Anglais}"></option>
                        <option value="fr" th:text="#{data.Francais}"></option>
                        <option value="ar" th:text="#{data.Arabic}"></option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Variable Section -->
<section layout:fragment="content">
    <!-- Your content here -->
</section>
<!-- Footer -->
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="text-body-secondary text-center" th:text="#{'&copy; 4IIRG6 ' + #temp.latestYear}"></p>
    </div>
</footer>

<!-- Modal -->
<div class="modal" tabindex="-1" id="addNewProduct" aria-labelledby="addNewProduct" aria-hidden="true">
    <div class="modal-dialog"->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{data.NewProduct}">New Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{add}">
                    <div class="mb-3 row">
                        <label for="title" class="col-sm-2 col-form-label" th:text="#{data.ProductName}">Product Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="name" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="ref" class="col-sm-2 col-form-label" th:text="#{data.ProductRef}">Product Ref</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ref" name="ref" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="code" class="col-sm-2 col-form-label" th:text="#{data.Code}">Product Code</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="code" name="code" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="date" class="col-sm-2 col-form-label" th:text="#{data.ProdDate}">Production Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="date" name="prodDate" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="price" class="col-sm-2 col-form-label" th:text="#{data.ProductPrice}">Product Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="price" name="price" required min="50">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{data.Cancel}">Close</button>
                        <button type="submit" class="btn btn-primary" id="add" th:text="#{data.SaveChanges}">Save changes</button>
                        <script>
                            document.getElementById('add').addEventListener('click', function() {
                                alert('${data.Success}');
                            });
                        </script>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
