<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title th:text="${title}"></title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="mx-3 my-5">
        <div class="row">
            <div class="col-6">
                <div class="alert alert-success" role="alert">
                    <h1 th:text="${title}"></h1>
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-info" role="alert">
                    <h2>Nombre total des produits:
                        <span th:text="${count}"></span></h2>
                </div>
            </div>
        </div>
        <form th:action="@{/search}" method="get">
            <input type="text" class="form-control" name="term" placeholder="Search for product">
            <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <th>Name</th>
                <th>Reference</th>
                <th>Price</th>
                <th>Edition</th>
                <th>Delete</th>
                </thead>
                <tbody>
                <tr th:each="produit:${prdcts}">
                    <td th:text="${produit.name}"></td>
                    <td th:text="${produit.ref}"></td>
                    <td th:text="${produit.price}"></td>
<!--                    <td>-->
<!--                        <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modifyProduct"-->
<!--                           th:href="@{/editProduct(id=${produit.id})}" data-id="${produit.id}">-->
<!--                            <i class="bi bi-pencil"></i>-->
<!--                        </a>-->
                    <td>
                        <a class="btn btn-warning"
                           th:href="@{/showEditForm/{id}(id=${produit.id})}">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                    </td>
                    <td>
                        <a class="btn btn-danger" id="delete"
                           th:href="@{delete(id=${produit.id})}"
                           onclick="return confirm('Do you want to delete this product?')">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    <script>
                        document.getElementById('delete').addEventListener('click',function ()
                        {
                            alert('Product deleted')
                        }   )                 </script>
                </tr>
                </tbody>
            </table>
            <nav aria-label="pagination">
                <ul class="pagination pagination-md">
                    <li  style="margin-right: 4px;"  th:each="p:${listPages}"
                        th:class=
                                "${currentPage == p ?'page-item active ':'page-item' }">
                        <a class="page-link" th:text="${p+1}"
                           th:href="@{index(page=${p})}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<!--    &lt;!&ndash;Modal&ndash;&gt;-->
<!--    <div class="modal" tabindex="-1" id="modifyProduct" aria-labelledby="modifyProduct" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title">Edit Product</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <form method="post" th:action="@{/updateProduct}" th:object="${product}">-->
<!--                        <div class="mb-3 row">-->
<!--                            <label for="ref" class="col-sm-2 col-form-label">Product Name</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" class="form-control" id="name" th:field="*{name}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="mb-3 row">-->
<!--                            <label for="ref" class="col-sm-2 col-form-label">Product Ref</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" class="form-control" id="ref" th:field="*{ref}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="mb-3 row">-->
<!--                            <label for="code" class="col-sm-2 col-form-label">Product Code</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="number" class="form-control" id="code" th:field="*{code}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="mb-3 row">-->
<!--                            <label for="date" class="col-sm-2 col-form-label">Production Date</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="date" class="form-control" id="date" th:field="*{prodDate}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="mb-3 row">-->
<!--                            <label for="price" class="col-sm-2 col-form-label">Product Price</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="number" class="form-control" id="price" th:field="*{price}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                            <button type="submit" class="btn btn-primary">Save changes</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div>

<script>
</script>
</body>
</html>